#commonHeader {
    background-color: #0096ff;
    color: #fff;
    padding: 15px 10px;
    text-align: center;
    position: relative;
    height: 80px;
    h1 {
        display: inline;
        font-size: 1.7rem;
        line-height: 1;
    }
    
    .backIcon {
        width: 16px;
        height: 16px;
        position: absolute;
        left: 10px;
    }
    .inputLocation{
            // display: flex;
            // justify-content: center;
            // align-items: center;
        input{
            margin-top: 5%;
            width:90%;
            height: 24px;
            font-size: 10px;
            text-align: center;
            border-radius:10px; 
        }
       
    }    
}